.header {
    display: flex;
    justify-content:space-between;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid hsla(0, 0%, 62.7%, .3);
    height: 5em;
    left: 0;
    line-height: 3.5em;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.alogo {
    display: contents;
}

.logo {
    padding-left: 7%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ulicons{
    align-items: right;
    cursor: default;
    list-style: none;
    padding-left: 0; 
    padding-top: 20px;
    padding-right: 20px;
}
.liIcons{
    display: inline-block;
    padding-left:1em;
}
.contactUs {
    width:15px;    
}
.waButton{
    padding-bottom: 16px;
    padding-right: 16px;
    position: fixed;
    bottom: 0;
    right: 0;
    size: 100px;
    z-index: 10000;
}

.slider{
    position: relative;
    height: 25em;
    text-align: center;
    overflow:hidden;
}

.sliderImages{
    width:100%;
    height:auto;
}

.content{
    padding-right: 200px;
    padding-left: 200px;
}
